In [11]:
import numpy as np
import pandas as pd

In [10]:
from numpy.random import randn
np.random.seed(101)
np.version.version

'1.12.1'

In [7]:
df=pd.DataFrame(randn(5,4),index = 'A B C D E'.split(),columns = 'W X Y Z'.split())
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [12]:
## Zaker el operations el awlaneya mn el lecture 3shan gett mt25ar

In [13]:
df.reset_index()

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

In [28]:
x='a b c d e'.split()
df['new_index']=x    ## 5alet x dy new column esmo new_index
df

                  W         X         Y         Z new_index
new_index
a         -0.993263  0.196800 -1.136645  0.000366         a
b          1.025984 -0.156598 -0.031579  0.649826         b
c          2.154846 -0.610259 -0.755325 -0.346419         c
d          0.147027 -0.479448  0.558769  1.024810         d
e         -0.925874  1.862864 -1.133817  0.610478         e

In [29]:
df.set_index('new_index',inplace=True) ## inplace=True bt5aly el ta3'yeer da yesbat 3latool fy ba2et el data frame

In [30]:
df

                  W         X         Y         Z
new_index
a         -0.993263  0.196800 -1.136645  0.000366
b          1.025984 -0.156598 -0.031579  0.649826
c          2.154846 -0.610259 -0.755325 -0.346419
d          0.147027 -0.479448  0.558769  1.024810
e         -0.925874  1.862864 -1.133817  0.610478