In [6]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [9]:
## Head
df.head(2)  ## Returns the first 2 rows

   col1  col2 col3
0     1   444  abc
1     2   555  def

In [11]:
## Unique
df['col2'].unique()    ## Returns unrepeated data in a certain column

array([444, 555, 666], dtype=int64)

In [13]:
## n unique
df['col2'].nunique()   ## Returns the number of unrepeated data in a certain column

3

In [15]:
## Value Counts
df['col2'].value_counts() ## Returns kol data fy el dataframe etkraret kam mara

444    2
555    1
666    1
Name: col2, dtype: int64

In [17]:
## Apply
def t(x):
    return x*2
df['col2'].apply(t)    ## Applies a certain function on a certain column

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [22]:
## Sum, Max, Min
print(df['col2'].sum())
print(df['col2'].max())
print(df['col2'].min())

2109
666
444