In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [87]:
df=pd.read_csv("50_Startups.csv")

In [88]:
df.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [89]:
from sklearn.cross_validation import train_test_split

In [1]:
#x=df[["R&D Spend","Administration","Marketing Spend","State"]]
x=df.iloc[:,:-1].values
y=df.iloc[:,4].values
x

NameError: name 'df' is not defined

In [91]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder=LabelEncoder()
#de elfunction ely gwaha onehotencoder
x[:,3]=labelencoder.fit_transform(x[:,3])
x[:,3]

array([2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2,
       1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2,
       0, 2, 1, 0, 2, 0], dtype=object)

In [55]:
onehotencoder=OneHotEncoder(categorical_features=[3])
x=onehotencoder.fit_transform(x).toarray()
#elsatr el a5er dh copy paste kda
x[:,3]

array([165349.2 , 162597.7 , 153441.51, 144372.41, 142107.34, 131876.9 ,
       134615.46, 130298.13, 120542.52, 123334.88, 101913.08, 100671.96,
        93863.75,  91992.39, 119943.24, 114523.61,  78013.11,  94657.16,
        91749.16,  86419.7 ,  76253.86,  78389.47,  73994.56,  67532.53,
        77044.01,  64664.71,  75328.87,  72107.6 ,  66051.52,  65605.48,
        61994.48,  61136.38,  63408.86,  55493.95,  46426.07,  46014.02,
        28663.76,  44069.95,  20229.59,  38558.51,  28754.33,  27892.92,
        23640.93,  15505.73,  22177.74,   1000.23,   1315.46,      0.  ,
          542.05,      0.  ])

In [92]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [93]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [97]:
y_pred=lm.predict(x_test)
y_pred

array([103959.40508021, 132398.73236694, 133529.03790148,  72958.28368314,
       179534.78737166, 115533.62584099,  67476.95847883,  98504.36199396,
       114789.16083781, 168972.21909945])

In [95]:
from sklearn.metrics import r2_score
a=r2_score(y_test,y_pred)

In [96]:
a

0.9386861070938135

In [74]:
#from sklearn.tree import DecisionTreeRegressor
#regressor=DecisionTreeRegressor(random_state=0)
#regressor.fit(x_train,y_train)

In [76]:
#y_pred=regressor.predict(x_test)

In [77]:
#from sklearn.metrics import r2_score
#r=r2_score(y_test,y_pred)

In [78]:
#r

In [79]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=2000,random_state=0)
regressor.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=2000, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [81]:
y_pred=regressor.predict(x_test)

In [83]:
from sklearn.metrics import r2_score

In [84]:
r=r2_score(y_test,y_pred)

In [85]:
r
#el accuracy zadt 3lshan el shagar zad

0.950399958572949