In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [17]:
x=data.drop('Purchased',axis=1)
x=x.drop('Gender',axis=1)
y=data['Purchased']

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=101)

In [30]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_Train=sc.fit_transform(x_train)
X_Test=sc.transform(x_test)

In [31]:
from sklearn.naive_bayes import GaussianNB
NBclassifier=GaussianNB()
NBclassifier.fit(X_Train,y_train)

GaussianNB(priors=None)

In [32]:
Y_Predict=NBclassifier.predict(X_Test)

In [33]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,Y_Predict)
cm

array([[50,  4],
       [ 1, 25]])